.list {
  list-style: none;
  text-align: center;
  background-color: #F5FCCD;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  max-width: 400px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

li:hover{
  background-color: #78D6C6;
  border-radius: 10px;
}

.deletebtn {
  padding: 2px;
  border: none;
  background: none;
  font-size: 18px;
  float: right;
}

.deletebtn:hover{
  background-color: #fa000038;
  cursor: pointer;
  border-radius: 5px;
}
